{% extends 'base.html' %}
{% load static %}

{% block title_content%}
Chi tiết sản phẩm
{% endblock title_content%}

{% block link_content%}
    <link rel="stylesheet" href="{% static "css/product.css" %}">
    <script src="{% static 'js/product.js' %}"></script>
{% endblock link_content %}

{% block product_content %}
<div class="product_container">
    <div class="col-sm-4 product" data-id = product.product_id data-price = product.price data-name = product.product_name>
        <img src="{% static product.img_url %}" alt="img_product" class="img_product">
        <h4>{{product.product_name}}</h4>
        <div class="cost">{{product.price}}</div>
        <button class="btn btn-outline-dark add_btn">Add to cart</button>
        <a href="{% url "shop_app:shop" %}">
            <button class="btn btn-outline-dark">Tiếp tục mua hàng</button>
        </a>
        <input type="button" value="-" onclick="minusQuantity()" class="btn">
        <input type="text" id="quantity" name="quantity" value="1">
        <input type="button" value="+" onclick="plusQuantity()" class="btn">
    </div>
</div>
{% endblock product_content %}