.section_1{
    margin: 0 20px;
    border-radius: 25px;
    background-color: gray;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("{% static 'image/background_img.png' %}");
    /* background-image: url('/background_img.png'); */
}

.btn_banner{
    width: 150px;
    height: 50px;
    background-color: #C7A17A;
    color: white;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    margin: 50px 0;
}

.media_item{
    color: black;
    margin: 50px 0;
}

.img_banner{
    height: 600px;
}

.title_banner{
    font-size: 60px;
    margin: 50px 0;
}

.text_banner{
    margin: 50px 0;
}

.col_right_banner{
    text-align: right;
}

.info_banner{
    margin: 50px 0;
}

.section_2{
    margin: 100px 0;
}

.st2_item{
    height: 150px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section_4{
    margin-top: 100px;
}

.row_title{
    margin: 50px;
}

.col_btn_product{
    text-align: right;
}

.row_product_1,.row_product_2{
    margin: 100px 0;
}

.btn_product{
    width: 300px;
    height: 50px;
}

.col_product{
    text-align: center;
}

.img_product{
    width: 400px;
    height: 400px;
}

.section_5{
    text-align: center;
    margin: 100px 0;
}

.h1_blog{
    margin: 0 55px;
}

.img_blogs{
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.title_blogs{
    text-decoration: none;
    color: black;
    margin: 0px 25px;
}